/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles
   ========================================================================== */

html {
    color: #000;
    font-size: 1em;
    line-height: 1.4;
    background: #95989c;
    margin-top: 0px;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}





/* ==========================================================================
   Mobile-First Styles
   ========================================================================== */
h2{
	font-size: 18px;
}

.default-page-wrapper{
	width: 90vw;
	margin: 0 auto;
	padding-bottom: 300px;
}

.entry-content{
	margin-top: 120px;
		@media only screen and (min-width: $breakpoint-desktop) {
		/*desktop*/
			margin-top: 75px;
		}
}

/*===Navbar Styles===*/
.navbar{
	background: rgba(35, 35, 35, .99);
	font-weight: bold;
	color: #dad7d7;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
		@media only screen and (min-width: $breakpoint-desktop) {
		/*desktop*/
    		position: static;
    		border-bottom: 2px solid #828181;
    		border-radius: 5px;
    		margin: 10px;
		}


		&__header{
			font-size: 20px;
			display: flex;
			justify-content: space-between;
		}

		&__logo-wrapper{
			display: flex;
			flex-direction: column;

			&__logo{
				font-size: 22px;
				padding: 10px 2vw;
					@media only screen and (min-width: $breakpoint-desktop) {
					/*desktop*/
						font-size: 25px;
					}
			}

			&__tag-line{
				padding-left: 2vw;
				font-size: 14px;
				margin-top: -14px;
				margin-left: 2px;
			}
		}

		&__date-time{
			padding: 10px 2vw;
			font-size: 13px;
			line-height: 2;
				@media only screen and (min-width: $breakpoint-desktop) {
				/*desktop*/
					font-size: 20px;
				}
		}

		&__main-menu > div > ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			font-size: 14px;
				@media only screen and (min-width: $breakpoint-desktop) {
				/*desktop*/
					justify-content: center;
					padding-bottom: 3px;
					font-size: 20px;
				}
		}

		&__main-menu > div > ul > li {
			padding: 10px 0px;
				@media only screen and (min-width: $breakpoint-desktop) {
				/*desktop*/
					padding: 7px 2vw;
						&:hover{
							color: #fff;
						}
				}
		}

}//end-navbar


/*===Mobile-Feed-Menue Styles===*/
.mobile-feed-menu {
    display: flex;
    justify-content: space-around;
    background: rgba(95, 95, 95, .98);
    color: white;
    position: fixed;
    margin-top: 94px;
    padding: 3px;
    font-size: 12px;
    right: 0;
    left: 0;
    	@media only screen and (min-width: $breakpoint-desktop) {
		/*desktop*/
			display: none;
		}

    	&__items{
    		flex-grow: 1;
    		text-align: center;
    	}

}//end-mobile-feed-menu

/*===news-feed-wrapper===*/
.news-flex-wrapper{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
		@media only screen and (min-width: $breakpoint-desktop) {
		/*desktop*/
			flex-direction: row;
			flex-wrap: wrap;
			padding-top: 20px;
		}
}

/*===news-feeds===*/
.news-box{
	width: 90vw;
	padding: 10px;
	color: #000;
	border-radius: 5px;
	margin: 10px auto;
	padding-top: 127px;
		@media only screen and (min-width: $breakpoint-desktop) {
		/*desktop*/
			width: 30vw;
			padding-top: 15px;
		}
}

/*===feed-items===*/
.feed-item {
  padding: 10px;
  border-bottom: 2px solid #777;
  background: #dad7d7;
  border-radius: 5px;
  margin: 5px;
}

/*===feed-item-links===*/
.feed-link {
	font-weight: bold;
		&:hover{
			color: #092fc5;

		}
}

/*===feed-item-descriptions===*/
/*.feed-description {
	color: #5a5959;
	font-size: 14px;
	line-height: 1.45;
}*/
.news-box p{
	color: #5a5959;
	font-size: 14px;
	line-height: 1.45;
}

/*===Footer===*/
.site-footer{
	background: rgba(35, 35, 35, .99);
    text-align: center;
    padding: 15px;
    color: #95989c;
		@media only screen and (min-width: $breakpoint-desktop) {
		/*desktop*/
    		border-bottom: 2px solid #828181;
    		border-radius: 5px;
    		margin: 10px;
		}
}


