/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles
   ========================================================================== */

html {
    color: #fff;
    font-size: 1em;
    line-height: 1.4;
    background: #a0a5aa
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}





/* ==========================================================================
   Mobile-First Styles
   ========================================================================== */
h2{
	font-size: 18px;
}
.navbar{
	width: 100%;
	background:rgba(0,0,0,0.75);
	font-weight: bold;
	color: #dad7d7;

		&__header{
			font-size: 20px;
			display: flex;
			justify-content: space-between;
		}

		&__logo-wrapper{
			display: flex;
			flex-direction: column;
		}

		&__item{
			padding: 10px 0px;
				@media only screen and (min-width: $breakpoint-desktop) {
				/*desktop*/
					padding: 7px 2vw;
				}
		}

		&__social-menu{
			padding: 10px 2vw;
		}
		&__logo{
			font-size: 22px;
			padding: 10px 2vw;
				@media only screen and (min-width: $breakpoint-desktop) {
				/*desktop*/
					font-size: 25px;
				}

		}

		&__logo-sub{
			padding-left: 2vw;
			font-size: 14px;
			margin-top: -14px;
			margin-left: 2px;
		}

		&__menu{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			font-size: 14px;
				@media only screen and (min-width: $breakpoint-desktop) {
				/*desktop*/
					justify-content: center;
					padding-bottom: 3px;
					font-size: 20px;
				}
		}
}

.news-row-1{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
		@media only screen and (min-width: $breakpoint-desktop) {
		/*desktop*/
			flex-direction: row;
			flex-wrap: wrap;
		}
}

.news-box{
	width: 90vw;
	padding: 10px;
	color: #000;
	border-radius: 5px;
	margin: 10px auto;
		@media only screen and (min-width: $breakpoint-desktop) {
		/*desktop*/
			width: 30vw;
		}
}

.feed-item{
	padding: 10px;
	color: #a9a995;
		& a{
			color: #000;
		}
}


.news-box > ul > li{
  padding: 10px;
  border-bottom: 2px solid #777;
  background: #dad7d7;
  border-radius: 5px;
  margin: 5px;
}
.news-box > ul > li >a{
	font-weight: bold;
}
.news-box > ul > li >a:hover {
	color: #092fc5;
}

.news-box > ul > li > p {
	color: #5a5959;
	font-size: 14px;
	line-height: 1.45;
}

.news-box > ul > li > p > img {

}

.site-footer{
	background:rgba(0,0,0,0.75);
    text-align: center;
    padding: 15px;
    color: #dad7d7;
}