/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles
   ========================================================================== */

html {
    color: #211c1c;
    font-size: 1em;
    line-height: 1.4;
    background: $background-color;
    margin-top: 0px;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}





/* ==========================================================================
   Mobile-First Styles
   ========================================================================== */
h2{
	font-size: 18px;
}

/*==============Navbar Styles==============*/
.navbar{
	background: rgba(35, 35, 35, .99);
	font-weight: bold;
	color: $primary-color;
	position: fixed;
	z-index: 420;
	top: 0;
	right: 0;
	left: 0;
		@media only screen and (min-width: $breakpoint-desktop) {
		/*desktop*/
    		position: static;
    		border-bottom: 2px solid #828181;
    		border-radius: 5px;
		}


		&__header{
			font-size: 20px;
			display: flex;
			justify-content: space-between;
		}

		&__logo-wrapper{
			display: flex;
			flex-direction: column;


			&__logo{
				font-size: 22px;
				padding: 10px 2vw;
					@media only screen and (min-width: $breakpoint-desktop) {
					/*desktop*/
						font-size: 25px;
					}
			}

			&__tag-line{
				padding-left: 2vw;
				font-size: 14px;
				margin-top: -14px;
				margin-left: 2px;
			}
		}

		&__date-time{
			padding: 10px 2vw;
			font-size: 13px;
			line-height: 2;
				@media only screen and (min-width: $breakpoint-desktop) {
				/*desktop*/
					font-size: 20px;
				}
		}

		&__main-menu > div > ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			font-size: 14px;
				@media only screen and (min-width: $breakpoint-desktop) {
				/*desktop*/
					justify-content: center;
					padding-bottom: 3px;
					font-size: 20px;
				}
		}

		&__main-menu > div > ul > li {
			padding: 10px 0px;
				@media only screen and (min-width: $breakpoint-desktop) {
				/*desktop*/
					padding: 7px 2vw;
						&:hover{
							color: #fdfdfd;
						}
				}
		}

}//end-navbar

.current-menu-item {
	color: #fdfdfd;
}

/*==============News Feed Styles==============*/

/*===Mobile-Feed-Menue Styles===*/
.mobile-feed-menu {
    display: flex;
    justify-content: space-around;
    background: rgba(95, 95, 95, .98);
    color: white;
    position: fixed;
    z-index: 420;
    //margin-top: 84px;
    padding: 3px;
    font-size: 12px;
    right: 0;
    left: 0;
    	@media only screen and (min-width: $breakpoint-desktop) {
		/*desktop*/
			display: none;
		}

    	&__items{
    		flex-grow: 1;
    		text-align: center;
    	}

}//end-mobile-feed-menu

/*===news-feed-wrapper===*/
.news-flex-wrapper{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
		@media only screen and (min-width: $breakpoint-desktop) {
		/*desktop*/
			flex-direction: row;
			flex-wrap: wrap;
			padding-top: 7px;
		}
}


/*===news-feeds===*/
.news-box{
	width: 90vw;
	padding: 10px;
	color: #000;
	border-radius: 5px;
	margin: 10px auto;
	padding-top: 30px;
		@media only screen and (min-width: $breakpoint-desktop) {
		/*desktop*/
			width: 30vw;
			padding-top: 15px;
		}
}

/*===feed-items===*/
.feed-item {
  padding: 10px;
  border-bottom: 2px solid #777;
  background: $primary-color;
  border-radius: 5px;
  margin: 5px;
}

/*===feed-item-links===*/
.feed-link {
	font-weight: bold;
		&:hover{
			color: #092fc5;

		}
}

/*===feed-item-descriptions===*/
.news-box p{
	color: #2b2b2b;
	font-size: 14px;
	line-height: 1.45;
}




/*==============Footer==============*/
.site-footer{
	//display: flex;
	//justify-content: space-between;
	background: rgba(35, 35, 35, .99);
    text-align: center;
	margin: 0px -10px -10px -10px;
    padding: 15px;
    color: #95989c;
		@media only screen and (min-width: $breakpoint-desktop) {
		/*desktop*/
    		border-bottom: 2px solid #828181;
    		border-radius: 5px;
			clear: both;
			margin: 0px;
		}
}

//.site-footer > section {
//	width: 30vw;
//	padding: 10px;
//}

/*==============Widgets==============*/

.widget-area{
    background: $primary-color;
    //margin-left: 3vw;
    margin-top: 40px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 7px;
	border-bottom: 1px solid #777;
		@media only screen and (min-width: $breakpoint-desktop) {
		/*desktop*/
		margin-right: 20px;
		margin-bottom: 40px;
		}
}

.widget-2{
    background: $primary-color;
    padding: 20px;
    border-radius: 7px;
    margin: 20px 4px;
    box-sizing: border-box;
   	border-bottom: 1px solid #777;
}


/*==============Comments==============*/
.comments-area{
    background: $primary-color;
    padding: 20px;
    margin: 45px 0px 0px 0px;
    box-sizing: border-box;
    clear: both;
	border-radius: 7px;
	border-bottom: 1px solid #777;
		@media only screen and (min-width: $breakpoint-desktop) {
			/*desktop*/
				margin: 45px 20px 20px 20px;
		}

}



.comment{
	background: #c3c3c3;
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
}


.comment-content{
	padding: 7px;
	background: beige;
    border-radius: 5px;
}

.comments-area textarea{
	width: 100%;
}


.comment-respond p{
	margin-top: 7px;
}

/*=========page.php & single.php styles=========*/
.site{
	padding: 10px;
}

.site-main{
	padding-top: 78px;
		@media only screen and (min-width: $breakpoint-desktop) {
		/*desktop*/
		padding-top: 0px;
		}
}

.page-flex{
		@media only screen and (min-width: $breakpoint-desktop) {
		/*desktop*/
			display: flex;
			flex-wrap: wrap;
		}
}

.default-page-wrapper{
	width: 90vw;
	margin: 0 auto;
	padding-bottom: 100px;
}

.default-page-content{
    background: $primary-color;
    padding: 20px;
    border-radius: 7px;
    //margin-top: 45px;
    border-bottom: 1px solid #777;
   		@media only screen and (min-width: $breakpoint-desktop) {
		/*desktop*/
		margin: 40px 20px 20px 20px;
		}
}

.default-post-content{
    background: $primary-color;
    padding: 20px;
    border-radius: 7px;
    margin-top: 20px;
    border-bottom: 1px solid #777;
   		@media only screen and (min-width: $breakpoint-desktop) {
		/*desktop*/
		margin: 40px 20px 20px 20px;
		}
}

.entry-content{
	padding: 5px;
		@media only screen and (min-width: $breakpoint-desktop) {
		/*desktop*/
			margin: 7px;
		}
}

.site-content{
	padding-bottom: 100px;
}


/*==============floating layout==============*/
@media only screen and (min-width: $breakpoint-desktop) {
/*desktop*/
	.column-main {
		margin: 0 30% 0 0;
	}

	.site-content .widget-area {
		float: right;
		overflow: hidden;
		width: 25%;
	}
}

.content-area {
	margin-bottom: 100px;
		@media only screen and (min-width: $breakpoint-desktop) {
			/*desktop*/
				float: left;
				margin: 0 -30% 150px 0;
				width: 100%;
		}
}




/*==============AWPCP==============*/

.awpcp-nav-menu{
    background: #95989c;
    padding: 10px 10px 0px 10px;
    margin-bottom: 10px;
    border-radius: 2px;
}

.awpcp-title{
	background: $primary-color !important;
	border-radius: 2px;
}
//even ads
.displayaditemseven{
	padding: 7px;
	background: #bbb;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 2px;
	margin-bottom: 20px !important;
}
//odd ads
.displayaditemsodd{
    background: #aaa !important;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 2px;
	margin-bottom: 20px !important;
}

.cl-adsense{
	background: $primary-color !important;
	border-radius: 2px;
}

.awpcp-listings-widget-item {
	margin-bottom: 25px !important;
}

.awpcplatestbox {
    background: #BBBBBB;
    padding: 10px;
	border-bottom: 1px solid #a9a8a8;
    padding-bottom: 15px;
    margin: 10px 5px;
    border-radius: 4px;
    text-align: center;
}

.awpcplatestthumb {
    background: #BBBBBB !important;
}

.awpcp-listings-widget-item-listing-link img{
	border-radius: 3px;
}

.awpcp-listings-widget-item-excerpt{
	padding: 0px 10px;
}

/*suggestion box*/
.nf-field-container, #ninja_forms_required_items{
	margin-top: 10px;
	margin-bottom: 10px !important;
}
