//Media Queries
$breakpoint-tablet: 600px;
$breakpoint-desktop: 960px;

$background-color: #95989C;
$primary-color: #d0cfc9;
$secondary-color: #aaa;

//Partials
@import "style-header";
@import "normalize";
@import "reset";
@import "mobile-first";
@import "animate";
@import "wp-plugins";
@import "print";
